.main-about {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    // border-bottom: 1px solid rgb(0, 0, 0);
  }

  @media (min-width: 1440px) {
    padding: 0 28px 0 34px;
  }

  &__list-services-menu {
    @media (min-width: 320px) {
      padding-left: 16px;
      margin-bottom: 24px;
    }

    @media (min-width: 768px) {
      margin-bottom: 32px;
      padding-left: 24px;
    }

    @media (min-width: 1440px) {
      padding-left: 0;
      margin-bottom: 16px;
    }
  }

  &__description {
    @media (min-width: 768px) {
      padding: 0 24px 0 24px;
    }

    @media (min-width: 1440px) {
      padding: 0;
    }
  }
}

.list-services-menu {
  @media (min-width: 320px) {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    /* Firefox  */
    scrollbar-width: none;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
  }

  /* Chrome */
  &::-webkit-scrollbar {
    @media (min-width: 320px) {
      display: none;
    }
  }

  &__item {
    @media (min-width: 320px) {
      white-space: nowrap;
      padding: 8px 17px 8px 17px;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.2px;
      font-weight: 500;
      color: $gray-color;
      background-color: $background-color;
      cursor: pointer;
    }

    &:first-child {
      background-color: $white-color;
      border: 2px solid $mint-ice-color;
      border-radius: 6px;
    }

    &:hover,
    &:active,
    &:focus {
      @media (min-width: 320px) {
        background-color: $white-color;
        border: 2px solid $mint-ice-color;
        border-radius: 6px;
      }
    }

    &--order-768 {
      @media (min-width: 768px) {
        order: -1;
      }

      @media (min-width: 1440px) {
        order: -3;
      }
    }

    &--order-1120 {
      @media (min-width: 1440px) {
        order: -2;
      }
    }

    &--order-1120-3 {
      @media (min-width: 1440px) {
        order: -1;
      }
    }

    &--order-1120-2 {
      @media (min-width: 1440px) {
        order: -4;
      }
    }

    &--order-1120-4 {
      @media (min-width: 1440px) {
        order: 0;
      }
    }

    &--order-1120-hidden {
      @media (min-width: 1440px) {
        display: none;
      }
    }
  }
}

.main-about-description {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (min-width: 768px) {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  &__text-info {
    @media (min-width: 320px) {
      padding: 0 16px 0 16px;
      margin-bottom: 16px;
      width: 100%;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
      padding: 0;
      min-width: 312px;
      margin-right: 48px;
    }

    @media (min-width: 1440px) {
      padding: 0;
      width: 49%;
      margin-right: 36px;
    }
  }

  &__photo-of-company {
    @media (min-width: 320px) {
      min-width: 100%;
      height: auto;
    }

    @media (min-width: 768px) {
      min-width: 360px;
      border-radius: 6px;
    }

    @media (min-width: 1440px) {
      min-width: 531px;
      // width: 51%;
    }
  }
}

.text-about {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 16px 0 16px;
    margin-bottom: 16px;
  }

  @media (min-width: 768px) {
    padding: 0;
    margin-bottom: 0;
    margin-right: 48px;
  }

  @media (min-width: 1440px) {
    margin-right: 36px;
  }

  &__paragraph {
    @media (min-width: 320px) {
      margin: 0;
      margin-bottom: 16px;
      min-width: 100%;
      font-size: 14px;
      line-height: 129%;
      font-weight: 400;
      letter-spacing: 0.2px;
    }

    @media (min-width: 768px) {
      margin: 0;
      margin-bottom: 15px;
      line-height: 143%;
    }

    @media (min-width: 1440px) {
      margin: 0;
      margin-bottom: 18px;
    }
  }

  &__paragraph--768 {
    @media (min-width: 320px) {
      display: none;
    }

    @media (min-width: 768px) {
      display: inline-block;
    }

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__paragraph--1120 {
    @media (min-width: 320px) {
      display: none;
    }

    @media (min-width: 1440px) {
      display: inline-block;
      margin-bottom: 14px;
    }
  }

  &__link-more-description {
    @media (min-width: 320px) {
      display: inline;
      width: 132px;
      padding-left: 32px;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.2px;
      font-weight: 500;
      background-image: url(/src/img/main/main-link-icon-expand.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 24px 24px;
    }
  }
}
