.main {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px 0px 40px 0px;
    width: 100%;
    background-color: $background-color;
    overflow-y: auto;
  }

  @media (min-width: 768px) {
    padding: 24px 0px 47px 0px;
    width: 100%;
  }

  @media (min-width: 1440px) {
    padding: 42px 0 50px 0;
  }

  &__header {
    @media (min-width: 1440px) {
      margin-bottom: 8px;
    }
  }

  &__about {
    @media (min-width: 320px) {
      margin-bottom: 24px;
    }

    @media (min-width: 768px) {
      margin-bottom: 32px;
    }

    @media (min-width: 1440px) {
      margin-bottom: 51px;
    }
  }

  &__section-container {
    @media (min-width: 320px) {
      margin-bottom: 24px;
    }

    @media (min-width: 768px) {
      margin-bottom: 32px;
    }

    @media (min-width: 1440px) {
      margin-bottom: 50px;
    }

    &--last {
      margin-bottom: 0;
    }
  }
}
