.services {
  @media (min-width: 320px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    padding: 0px 24px 0px 24px;
  }

  @media (min-width: 1440px) {
    padding: 0px 32px 0 32px;
  }

  & .services__swiper-container--prices {
    @media (min-width: 320px) {
      padding: 0px 8px 0px 8px;
    }

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  &__slide--320 {
    @media (min-width: 320px) {
      order: -1;
    }
  }

  &__slide--1440 {
    @media (min-width: 1440px) {
      display: flex;
    }
  }

  &__slider-pagination.swiper-pagination {
    @media (min-width: 320px) {
      position: relative;
      bottom: 0;
      justify-content: center;
      align-items: center;
      gap: 12px;
      display: flex;
      margin-top: 16px;
    }

    /* Прячем точки */
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__slider-pagination.swiper-pagination .swiper-pagination-bullet {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: $pagination-bullet-color;
    opacity: 1;
  }

  &__slider-pagination.swiper-pagination .swiper-pagination-bullet-active {
    background-color: $pagination-bullet-active-color;
  }

  //  Сетка с 768
  &__wrapper {

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, minmax(224px, 1fr));
      gap: 16px 24px;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 24px;

      /* Сброс Swiper */
      transform: none !important;
      width: 100% !important;
      height: auto !important;
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, minmax(240px, 1fr));
      gap: 16px 32px;
      margin-bottom: 24px;
    }
  }

  &__wrapper-prices {
    @media (min-width: 768px) {
      margin-bottom: 0;
      display: block;
      width: 100%;
      background-color: $white-color;
      border-radius: 6px;
      overflow: hidden;
    }
  }

  &__btn--show-all {
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus,
    &:focus-visible {
      opacity: 0.65;
    }
    @media (min-width: 320px) {
      display: none;
    }

    @media (min-width: 768px) {
      display: inline-block;
    }

    /* .list-brands.revealed .hidden {
      display: flex;
    } */
  }
}
