//  Слайдер 320
.swiper-container {
  @media (min-width: 320px) {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 100px;
    padding: 0px 16px 0px 16px;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    padding: 0;
  }

}

.swiper-slide {
  @media (min-width: 320px) {
    width: 240px;
  }

  @media (min-width: 768px) {
    /* Сброс ширины слайда */
    width: auto !important;
    margin-right: 0 !important;
  }

  & {
    &:last-child {
      // Находим последний слайд в контейнере
      .service-item-prices {
        border-bottom: none;
      }
    }
  }
}
